.model_selection{
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 80%;
}

.model_selection_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
