*{
    font-family: "UbuntuRegular";
}

body {
  margin: 0;
  min-height: 100vh;
  background: 
    #f8f9fa
    radial-gradient(2px 2px at 25px 25px, #ddd 100%, transparent 0);
  background-size: 50px 50px;
  background-repeat: repeat;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
 