* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}


#root {
  min-height: 100vh;
  width: 100%;
}