.header {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-top: 20px;
    border-radius: 64px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 7px 5px 16px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.logo{
    font-weight: 900;
    font-size: 36px;
    cursor: pointer;
}

.login_button{
    border-radius: 64px;
    background-color: #BEE9FF;
    padding: 10px 18px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
} 