.model_slider_container{
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow-x: auto;
}

.model_slider_item{
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #111;
  border: 1px solid #e0e0e0;
  user-select: none;
}

.model_slider_item:hover{
  transform: translateY(-4px);
}

.model_slider_item.active{
  background-color: #9822FF;
  color: #fff;
  border-color: #7a12e6;
}